*{
    margin: 0px;
    padding: 0px;
    color: green;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jumbotron{
    width: 600px;
    background-color: black;
    box-shadow: 0px 0px 6px #080505d1;
}

.container{
    display: flex;
    justify-content: center;
}

#heading{
    font-size: 2.3rem;
    margin-bottom: 16px;
}

#currentCity{
    font-size: 1.9rem;
    margin-bottom: 16px;
}

#time{
    font-size: 1.8rem;
    margin-bottom: 16px;
}

.btn{
    padding: 9px 11px;
    background-color: #1e34e5;
    color: white;
    border: none;
}

